a{color: inherit;}
:root{
    max-width: 100%;
    overflow-x: hidden;
}
body{
/* background-color: #191919; */
/* width: 110%; */
margin-left: 0%;
margin-right: 0%;
max-width: 100%;
overflow-x: hidden;
background-image: url("../src/img/banniere_itchio.png");
background-repeat: repeat;
z-index: -100;}


/* @font-face { font-family: 'MS PGothic'; src: local('MS PGothic'); } */

#home-text{
    position: relative;
    /* max-width: 50%; */
    /* margin: auto; */
    /* margin-top: 5%; */
}

#home-icon{
    height: 50%;
    border-radius: 50px;
    margin-top: 100px;
    margin-left: 125px;
    position:absolute;
}

#cmd-prompt{
    height: 50%;
    margin-top: 75px;
    filter: drop-shadow(2px 2px 1px);
}

#cmd-blink-bar{
    height: 0.5%;
    margin-top: 259px;
    margin-left: -340px;
    visibility: visible;
    position: absolute;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

#message-box{
    z-index: 2;
    height: 100%;
    margin-left: -205px;
}

.cmd-msg{
    z-index: 2;
    height: 3%;
    position: relative;
    margin-bottom: 4px;
    margin-top: -36px;
    color: white;
    color: #D8D8D8;
    font-family: 'Lato', 'cursive';
    font-weight: 300;
    font-size: 70%;

    width: 100%;
    text-align: left;
    margin-left:-65px;
    left: 50%;
}

#input-box{
    z-index: 2;
    height: 3%;
    position: absolute;
    margin-top: 14px;
    color: white;
    font-family: 'Lato', 'cursive';
    font-weight: 300;
    font-size: 70%;

    width: 100%;
    text-align: left;
    margin-left:-162px;
    left: 50%;
}

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
@-webkit-keyframes blink-animation {
to {
    visibility: hidden;
}
}

.basic-text{
    color: white;
    font-family:"Lato", Georgia, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color:white;
}

#game-card-container {
    margin: auto;
    margin-top: 18%;
    display: grid;
    grid-template-columns: 25.5% 25.5% 25.5% 25.5%;
    width: 640px;
  }

#home-page{
    position: relative;
    margin-top: 50%;
    width: 100%;
    text-align: center;
}

.video-wrapper{
    position: absolute;
    margin-top: 1%;
    margin-left: 8%;
    width: 83%;
    height: 25%;
}

.video-player{
    position: absolute;
    margin-top: 1%;
    margin-left: 8%;
    width: 83%;
    height: 100%;
    border: solid #0000004f;
}

.redirect-button{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    color: #D8D8D8;
    background-color: black;
    font-family:"Lato", Georgia, sans-serif;;
}

.game-card{
    height: 150px;
    text-align: center;
    width: 150px;
    /* filter: drop-shadow(2px 2px 1px); */
}

.card-button{
    position: relative;
    top: -80%;
    height: 150px;
    width: 150px;
    border: solid 4px;
    border-radius: 10px;
    border-color: #000000;
    color: #D8D8D8;
    background: none;
    background-color: #00000023;
    backdrop-filter: blur(2px);
    filter: drop-shadow(0px 0px 3px black);
}
.card-link{
    position: relative;
    top: -80%;
    height: 142px;
    width: 142px;
    border: solid 4px;
    border-radius: 10px;
    border-color: #000000;
    color: #D8D8D8;
    background: none;
    background-color: #00000023;
    backdrop-filter: blur(2px);
    filter: drop-shadow(0px 0px 3px black);

}

.widget-wrapper{
    width: 120%;
    height: 14%;
    /* -moz-padding: 0;
    -moz-overflow: hidden;
    -moz-margin: auto; */
    display: flex;
    margin: auto;
    margin-left: -10%;
}

.widget-steam{
    transform: scale(60%);
    width: 165%;
    height: 290%;
    /* -moz-transform-origin: 50% 20%; */
    overflow: hidden;
}

.img-card{
    height: 80%;
    position: relative;
    top: 12%;
}

#elumin-page{
    position: relative;
    margin-top: 80%;
    width: 100%;
    background-image: url("https://i.ibb.co/23dLdgwx/background-fade-elumin.png"); 
    background-size: 500px;
    background-repeat: repeat;
    height: 1000px;
}

#firestage-page{
    margin-top: 35%;
    position: relative;
    width: 100%;
    background-image: url("https://i.ibb.co/fGGQmcLp/background-fade-firestage-v2.png"); 
    background-size: 350px;
    background-repeat: repeat;
    height: 800px;
}

#groups-page{
    position: relative;
    margin-top: 5%;
    width: 100%;
    background-image: url("https://i.ibb.co/d1DKxJR/tilegrass-v5.png"); 
    background-size: 325px;
    background-repeat: repeat;
    height: 650px;
}

#metronim-page{
    position: relative;
    margin-top: -0%;
    width: 100%;
    background-image: url("https://i.ibb.co/Y4yXPgxR/background-fade-metronim.png"); 
    background-size: 325px;
    background-repeat: repeat;
    height: 650px;
}

#backrooms-page{
    position: relative;
    margin-top: -0%;
    width: 100%;
    background-image: url("https://i.ibb.co/j9kJVhdx/background-fade-backrooms-v4.png"); 
    background-size: 325px;
    background-repeat: repeat;
    height: 650px;
}

#showreel-page{
    height: 900px; 
}

#itch-page{
    margin-top: -50%;
}
#contact-page{
    margin-top: 30%;
}

.work-title{
    text-align: center;
    color: #b61111;
    font-family: "Quicksand", serif;
    font-weight: 100;
    font-size: 425%;
    font-weight: 700;
    filter: drop-shadow(0px 0px 5px #b61111);
}

#itch-title{
    color: #FF244A;
    filter: drop-shadow(0px 0px 5px #FF244A);
}

#contact-title{
    color: #d4d4d4;
    filter: drop-shadow(0px 0px 5px #d4d4d4);
}

.title-img{
    width: 30%;
}

#elumin-logo{
    width: 90%;
    margin-left: 5%;
    display: flex;
}

#firestage-logo{
    width: 90%;
    transform: scale(150%);
    margin-left: 5%;
    display: flex;
}

#firestage-logo-aura{
    width: 90%;
    transform: scale(150%);
    margin-left: 5%;
    margin-top: 0%;
    display: flex;
    position: absolute;
    filter: blur(2px);
    opacity: 50%;
}

#groups-logo{
    width: 70%;
    transform: scale(150%);
    margin-left: 15%;
    display: flex;
}

#groups-logo-aura{
    width: 70%;
    transform: scale(150%);
    margin-left: 15%;
    margin-top: 0%;
    display: flex;
    position: absolute;
    filter: blur(6px);
}

#metronim-title{
    color: #917054;
    text-align: center;
    font-family: "Limelight", serif;
    font-weight: 400;
    margin-left: 0%;
    height: 50px;
    font-size: 15vw;
    font-style:italic;
    filter: drop-shadow(0px 0px 5px #000000);
}

#backrooms-title{
    color: #a18f25;
    text-align: center;
    font-family: "Major Mono Display", serif;
    font-weight: 400;
    margin-left: 0%;
    height: 50px;
    font-size: 13vw;
    filter: drop-shadow(0px 0px 5px #000000);
}

.normal-text{
    font-family:"Lato", Georgia, sans-serif;
}

.desc-text{
    text-align: justify;
    position: relative;
    width: 83%;
    font-size: 18px;
    margin-left: 8%;
    font-family:"Lato", Georgia, sans-serif;;
    color: #D8D8D8;
}

.end-text{
    padding-top: 3%;
    padding-bottom: 0.3%;
    width: 95%;
    font-size: 17px;
    margin: auto;
    display: flex;
    text-align: center;
    font-family:"Lato", Georgia, sans-serif;;
    color: #D8D8D8;
}

.screenshot-container{
    display: grid;
    /* background-color: #CE1E27; */
    grid-template-columns: 66% 66%;
    grid-template-rows: 45% 45%;
    column-gap: 20px;
    row-gap: 20px;
    /* height: 20%; */
    width: 60%;
    margin-left: 8%;
}

.screenshot-img{
    width: 100%;
    display: flex;
    border: solid 3px rgba(0, 0, 0, 0.363);
    border-radius: 5px;
}

.welcome-text{
    text-align: left;
    align-content: center;
    align-items: center;
    margin-top: 4%;
    text-indent: 5%;
}

.text-section{
    background-color: #00000046;
    align-content: center;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 100px;
    border: solid #0000004f;
    border-radius:rgba(0, 0, 0, 0.479)
    
}

#language-button{
    position: fixed;
    z-index: 10;
    top: 5px;
    right: 10px;
    width: 70px;
    height: 60px;
    cursor: pointer;
}

.language-img{
    image-rendering: pixelated;
    position: absolute;
}

@media only screen and (min-width: 768px) {
    
    #cmd-prompt{
        width: 35%;
    }
    #message-box{
        z-index: 2;
        width: 100%;
        position: absolute;
        margin-left: 0px;
    }
    .cmd-msg{
        z-index: 2;
        height: 3%;
        position: relative;
        margin-bottom: 0.8%;
        margin-top: -3.4%;
        color: white;
        /* font-family: 'MS PGothic', Courier; */
        font-family: 'Lato', 'cursive';
        font-weight: 300;
        font-size: 1vw;
    
        width: 100%;
        text-align: left;
        margin-left:33.5%;
        left: 0px;
    }
    
    #input-box{
        z-index: 2;
        height: 3%;
        position: absolute;
        margin-bottom: 0.5%;
        margin-top: -2.0%;
        color: white;
        /* font-family: 'MS PGothic', Courier; */
        font-family: 'Lato', 'cursive';
        font-weight: 300;
        font-size: 1vw;
    
        width: 100%;
        text-align: left;
        margin-left:34%;
        left: 0px; 
    }
    
    #home-page{
        position: relative;
        margin-top: 10%;
        width: 100%;
        text-align: center;
    }
    .widget-wrapper{
        width: 600px;
        height: 250px;
        display: flex;
        margin: auto;
        margin-left: 8%;
        overflow: hidden;
    }
    .widget-steam{
        transform: scale(100%);
        width: 700px;
        height: 190px;
        padding-top: 3%;
    }
    #home-icon{
        width: 15%;
        height: auto;
        border-radius: 50px;
        margin-top: 90px;
        margin-left: 10%;
        position:absolute;
        border: none;
    }
    #cmd-blink-bar{
        width: 0.5%;
        display: flex;
        margin-left: 34%;
        margin-top: -1.05%;
        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
    }

    #elumin-logo{
        width: 30%;
        margin-left: 5%;
        display: flex;
    }
    #firestage-logo{
        width: 40%;
        margin-left: 1%;
        display: flex;
    }
    #firestage-logo-aura{
        width: 40%;
        margin-left: 1%;
        display: flex;
        position: absolute;
        filter: blur(4px);
        opacity: 50%;
    }
    #groups-logo{
        width: 25%;
        margin-left: 8%;
        display: flex;
    }
    
    #groups-logo-aura{
        width: 25%;
        margin-left: 8%;
        display: flex;
        position: absolute;
        filter: blur(4px);
    }
    
    #metronim-title{
        color: #917054;
        text-align: left;
        font-family: "Limelight", serif;
        font-weight: 400;
        margin-left: 6%;
        font-size: 5vw;
        filter: drop-shadow(0px 0px 5px #000000);

    }
    #backrooms-title{
        color: #a18f25;
        text-align: left;
        font-family: "Major Mono Display", serif;
        font-weight: 400;
        margin-left: 6%;
        font-size: 5vw;
        filter: drop-shadow(0px 0px 5px #000000);
    }
    

    .screenshot-container{
        display: grid;
        /* background-color: #CE1E27; */
        grid-template-columns: 26.9% 26.9% 26.9% 26.9%;
        grid-template-rows: 20% 20%;
        column-gap: 50px;
        width: 60%;
        padding-top: 3%;
        margin-left: 8%;
    }
    
    .video-player{
        position: absolute;
        margin-top: 1%;
        margin-left: 8%;
        width: 59.5%;
        height: 600px;
        border: solid #0000004f;
    }

    .work-title{
        text-align: left;
        color: #b61111;
        font-family: "Quicksand", serif;
        font-weight: 500;
        margin-left: 6%;
        font-size: 100px;
        font-weight: 700;
        filter: drop-shadow(0px 0px 5px #b61111);
    }

    #elumin-page{
        position: relative;
        margin-top: 18%;
        width: 100%;
        background-image: url("https://i.ibb.co/23dLdgwx/background-fade-elumin.png"); 
        background-size: 400px;
        background-repeat: repeat;
        height: 800px;
    }
    #firestage-page{
        margin-top: 10%;
    }
    #metronim-page{
        margin-top: 0%;
    }
    #itch-page{
        margin-top: 0%;
    }
    #contact-page{
        margin-top: 5%;
    }
}