a{color: inherit;}
body{
/* background-color: #191919; */
max-width: 100%;
overflow-x: hidden;
background-image: url("../src/img/banniere_itchio.png");
background-repeat: repeat;}
#about-button{
    position: fixed;
    bottom: 1%;
    left: 1%;
    width: 100px;
    height: 40px;
    font-size: 20px;
    border: 2px solid rgb(59, 59, 59);
    border-radius: 10px;
}

#home-text{
    position: relative;
    max-width: 50%;
    margin: auto;
    /* margin-top: 5%; */
}

.basic-text{
    color: white;
    font-family:"Lato", Georgia, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color:white;
}

#home-button{
    max-width: 150px;
    height: auto;
    border-radius: 50px;
    margin: auto;
    display: flex;
    border: none;
}

#game-card-container {
    margin: auto;
    margin-top: 18%;
    display: grid;
    grid-template-columns: 25.5% 25.5% 25.5% 25.5%;
    /* background-color: #CE1E27; */
    width: 640px;
  }

#home-page{
    position: relative;
    width: 100%;
    text-align: center;
}

.video-player{
    position: absolute;
    margin-top: 1%;
    margin-left: 8%;
    width: 59.5%;
    height: 70%;
    border: solid #0000004f;
}
.redirect-button{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    color: #D8D8D8;
    background-color: black;
    font-family:"Lato", Georgia, sans-serif;;
}

.game-card{
    height: 150px;
    text-align: center;
    width: 150px;
    /* filter: drop-shadow(2px 2px 1px); */
}

.card-button{
    position: relative;
    top: -80%;
    height: 150px;
    width: 150px;
    border: solid 4px;
    border-radius: 10px;
    border-color: #000000;
    color: #D8D8D8;
    background: none;
    background-color: #00000023;
    backdrop-filter: blur(2px);
    filter: drop-shadow(0px 0px 3px black);
}
.card-link{
    position: relative;
    top: -80%;
    height: 142px;
    width: 142px;
    border: solid 4px;
    border-radius: 10px;
    border-color: #000000;
    color: #D8D8D8;
    background: none;
    background-color: #00000023;
    backdrop-filter: blur(2px);
    filter: drop-shadow(0px 0px 3px black);

}

.widget-steam{
    width: 50%;
    height: 190px;
    padding-top: 3%;
    margin-left: 8%;
}


.img-card{
    height: 80%;
    position: relative;
    top: 12%;
}

#elumin-page{
    position: relative;
    top : 100px;
    width: 100%;
    background-image: url("https://i.ibb.co/23dLdgwx/background-fade-elumin.png"); 
    background-size: 500px;
    background-repeat: repeat;
    height: 1000px;
}

#firestage-page{
    /* background-image: url("https://i.ibb.co/mbPz4mN/background-firestage.png"); */
    background-repeat: repeat;
    height: 1000px; 
}

#showreel-page{
    margin-top: 9%;
    height: 900px; 
}

.work-title{
    color: #D8D8D8;
    margin-left: 6%;
}

.title-img{
    width: 30%;
}

#elumin-logo{
    width: 30%;
    margin-left: 5%;
    display: flex;
}

.normal-text{
    font-family:"Lato", Georgia, sans-serif;;
}

.desc-text{
    text-align: justify;
    position: relative;
    width: 70%;
    font-size: 18px;
    margin-left: 8%;
    padding-top: 1%;
    font-family:"Lato", Georgia, sans-serif;;
    color: #D8D8D8;
}

.screenshot-container{
    display: grid;
    /* background-color: #CE1E27; */
    grid-template-columns: 26.9% 26.9% 26.9% 26.9%;
    grid-template-rows: 20% 20%;
    column-gap: 50px;
    width: 60%;
    padding-top: 3%;
    margin-left: 8%;
}

.screenshot-img{
    width: 100%;
    display: flex;
    border: solid 3px rgba(0, 0, 0, 0.363);
    border-radius: 5px;
}

.welcome-text{
    text-align: left;
    align-content: center;
    align-items: center;
    margin-top: 4%;
    text-indent: 5%;
    /* font-family: "Young Serif", serif; */
}

.text-section{
    background-color: #00000046;
    align-content: center;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 100px;
    border: solid #0000004f;
    border-radius:rgba(0, 0, 0, 0.479)
    
}


#about-title{
    color: #CE1E27;
}

#about-text{
    font-size: 18px;
    font-family:"Lato", Georgia, sans-serif;;
    color:white;
}

#error-text{
    font-family:"Lato", Georgia, sans-serif;;
    text-align: center;
    color: #CE1E27;
}