a{color: inherit;}
body{
/* background-color: #191919; */
max-width: 100%;
overflow-x: hidden;
background-image: url("../src/img/banniere_itchio.png");
background-repeat: repeat;}
#about-button{
    position: fixed;
    bottom: 1%;
    left: 1%;
    width: 100px;
    font-size: 20px;
}

#home-text{
    position: relative;
    max-width: 50%;
    margin: auto;
    margin-top: 5%;
}

.basic-text{
    font-size: 18px;
	font-family: "Lato", Georgia, sans-serif;
    color:white;
}

#home-button{
    max-width: 10%;
    height: auto;
    border-radius: 50px;
    position: fixed;
    top:10px;
    left:10px;
    border: none;
    cursor: pointer;
}

#game-card-container {
    margin: auto;
    margin-top: 7%;
    display: grid;
    grid-template-columns: 25.5% 25.5% 25.5% 25.5%;
    /* background-color: #CE1E27; */
    width: 640px;
  }

#main-page{
    position: relative;
    width: 100%;
    text-align: center;
}

.video-player{
    position: absolute;
    left: 15%; 
    width: 70%;
    height: 70%;
}
.redirect-button{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    color: #D8D8D8;
    background-color: black;
    font-family:"Lato", Georgia, sans-serif;;
}

.game-card{
    height: 150px;
    text-align: center;
    width: 150px;
    /* filter: drop-shadow(2px 2px 1px); */
}

.card-button{
    position: relative;
    top: -80%;
    height: 150px;
    width: 150px;
    border: solid 4px;
    border-radius: 10px;
    border-color: #000000;
    color: #D8D8D8;
    background: none;
    background-color: #00000023;
    backdrop-filter: blur(2px);
    filter: drop-shadow(0px 0px 3px black);
}
.card-link{
    position: relative;
    top: -80%;
    height: 142px;
    width: 142px;
    border: solid 4px;
    border-radius: 10px;
    border-color: #000000;
    color: #D8D8D8;
    background: none;
    background-color: #00000023;
    backdrop-filter: blur(2px);
    filter: drop-shadow(0px 0px 3px black);

}

.widget-steam{
    width: 50%;
    height: 190px;
    padding-top: 6%;
}


.img-card{
    height: 80%;
    position: relative;
    top: 12%;
}

#elumin-page{
    position: relative;
    width: 100%;
    /* background-image: url("https://i.ibb.co/7j3CQPx/steam-background-real-v1.png"); */
    /* background-repeat: repeat; */
    height: 100%;
}

#firestage-page{
    /* background-image: url("https://i.ibb.co/mbPz4mN/background-firestage.png"); */
    background-repeat: repeat;
    height: 1000px; 
}

#showreel-page{
    height: 900px; 
}

.work-title{
    color: #D8D8D8;
}

#elumin-title{
    margin: auto;
}

.title-img{
    width: 30%;
}

#logo-title-img{
    width: 40%;
    position: relative;
}

.normal-text{
    font-family:"Lato", Georgia, sans-serif;;
}

.desc-text{
    text-align: justify;
    position: relative;
    width: 70%;
    height: 15%;
    font-size: 18px;
    font-family:"Lato", Georgia, sans-serif;;
    color: #D8D8D8;
    margin: auto;
}

.screenshot-container{
    display: grid;
    /* background-color: #CE1E27; */
    grid-template-columns: 36.9% 36.9% 36.9%;
    grid-template-rows: 40% 40%;
    width: 70%;
    margin: auto;
    padding-top: 2%;
}

.screenshot-img{
    width: 70%;
    border: solid 3px black;
    border-radius: 5px;
}

#welcome-title{
    text-align: center;
    color: #CE1E27;
}


#about-title{
    color: #CE1E27;
}

#about-text{
    font-size: 18px;
    font-family:"Lato", Georgia, sans-serif;;
    color:white;
}

#error-text{
    font-family:"Lato", Georgia, sans-serif;;
    text-align: center;
    color: #CE1E27;
}